node_modules
dist
dist-ssr
*.local
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
temp
build
public
.cache
extra
bible-api.*.db
bible.db
fetch
gen
metadata
cli.js
sources
tools/BibleMultiConverter
.git
.gitignore
.husky
*.md
!README.md
docs
bible-api.code-workspace
jest.config.cjs
GENERATOR-CHANGELOG.md
API-CHANGELOG.md
