/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.hero-verse
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  font-size: 1.2rem;

.hero-verse-content
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-end;
  background-color: #eee;
  padding: 24px;
  border-radius: 8px;

.hero-verse-content p
  margin: 0;
  font-weight: 500;
