html {
  --text-color: #4a4a4a;
  --background-color: #f9f9f9;
  
  --link-color: #3b48ff;
  --visted-link-color: #926bfc;
  --hover-link-color: #7c5bd6;

  --words-of-jesus: #dc143c;

  --inverse-text-color: #eee;
  --inverse-background-color: #333;
}

@media (prefers-color-scheme: dark) {
  html {
    --text-color: #eee;
    --background-color: #333;
    --link-color: #8f96fa;
    --visted-link-color: #aaa;
    --hover-link-color: #926bfc;

    --words-of-jesus: #e04161;

    --inverse-text-color: #4a4a4a;
    --inverse-background-color: #f9f9f9;
  }
}

html[data-theme="dark"] {
  --text-color: #eee;
  --background-color: #333;
  --link-color: #8f96fa;
  --visted-link-color: #aaa;
  --hover-link-color: #926bfc;

  --words-of-jesus: #e04161;

  --inverse-text-color: #4a4a4a;
  --inverse-background-color: #f9f9f9;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  color: var(--link-color);
}

a:visited {
  color: var(--visted-link-color);
}

a:hover {
  color: var(--hover-link-color);
}

.dir-rtl {
  direction: rtl;
}

.dir-ltr {
  direction: ltr;
}

.lang-arb {
  direction: rtl;
}

.lang-hbo {
  direction: rtl;
}

.words-of-jesus {
  color: var(--words-of-jesus);
}

.verse-marker {}


.chapter-container {
  /* display: flex;
  justify-content: center; */
}

.chapter-buttons {
  display: flex;
  justify-content: space-between;
}

.chapter-layout {
  display: flex;
  justify-content: space-around;
}

.chapter-content {
  /* flex: 1 1 auto; */
  max-width: 38em;
  margin-bottom: 8px;
}

.chapter-button.next {
  float: right;
}

.chapter-button.previous {
  float: left;
}

.chapter-button > button {
  border-radius: 3px;
  color: var(--text-color);
  background-color: var(--background-color);
  border-color: var(--inverse-background-color);
  font-size: 1em;
}

.chapter-button > button:hover, .chapter-button > button:active, .chapter-button > button:focus {
  color: var(--inverse-text-color);
  background-color: var(--inverse-background-color);
  border-color: var(--background-color);
}

.chapter-buttons.large > .chapter-button {
  position: fixed;
  top: 50%;
}

@media (min-width: 1000px) {
  /* Only visible to the screen reader if the device is large */
  .sr-only-on-large {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
  }

  .chapter-button > button {
    width: 42px;
    height: 42px;
    border-radius: 21px;
    line-height: 22px;
  }
}

@media (max-width: 999px) {
  .large {
    display: none;
  }
}

/* @media (max-width: 382px) {
  .chapter-button > button {
    width: 42px;
    height: 42px;
    border-radius: 21px;
    color: var(--text-color);
    background-color: var(--background-color);
    border-color: var(--inverse-background-color);
    font-size: 1em;
  }
} */

.index-container {
  max-width: 38em;
  margin: auto;
}